@import url("https://fonts.googleapis.com/css?family=Google+Sans:500,400,600|Inter:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --alpha-black-alpha-100: rgba(0, 0, 0, 1);
  --alpha-white-alpha-100: rgba(255, 255, 255, 1);
  --border-radii-absolute-radius-10: 10px;
  --border-radii-absolute-radius-8: 8px;
  --border-radii-semantic-rounded-lg-xl: var(--border-radii-absolute-radius-10);
  --brand-colors-brand-neutrals-300: var(--raw-colors-neutral-300);
  --brand-colors-brand-neutrals-700: var(--raw-colors-neutral-700);
  --raw-colors-neutral-300: rgba(212, 212, 212, 1);
  --raw-colors-neutral-700: rgba(64, 64, 64, 1);
  --semantic-colors-general-background: var(--alpha-white-alpha-100);
  --semantic-colors-unofficial-accent-3: var(--brand-colors-brand-neutrals-300);
  --animate-spin: spin 1s linear infinite;
}

[data-semantic-colors-mode="shadcn"] {
  --semantic-colors-general-background: var(--alpha-white-alpha-100);
  --semantic-colors-unofficial-accent-3: var(--brand-colors-brand-neutrals-300);
}

[data-semantic-colors-mode="shadcn-dark"] {
  --semantic-colors-general-background: var(--alpha-black-alpha-100);
  --semantic-colors-unofficial-accent-3: var(--brand-colors-brand-neutrals-700);
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

.link-active{
  border-bottom: 2px solid #1272E8 !important;
}

/* hover border (vetëm kur NUK është active) */
nav a:hover {
  border-bottom: 2px solid #1272E8;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
